<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
</head>

<body>
    <div class="page-register">
        <div class="register-navbar">
            <ul>
                <li>Planning</li>
                <li>Billetterie</li>
                <li><img width="60%" src="../img/Logo1.png"></li>
                <li>Contact</li>
                <li>Connexion</li>
            </ul>
        </div>
        <div class="register-centre">
            <div class="register-titre register-titre-bloc">
                <p class="register-titre register-titre1">Créer un compte</p>
                <p class="register-titre register-titre2">Prêt à te surpasser ?</p>
                <p class="register-texte">Créez votre compte et démarrez votre transformation ! Rejoignez-nous pour accéder
                    à vos séances et révéler la meilleure version de vous-même.</p>
            </div>
            <div class="register-formulaire-bloc">
                {{ form_start(registrationForm, {'attr': {'class': 'register-formulaire'}}) }}
                    <p class="register-form-titre">Création de mon compte</p>
                    <div class="register-input-1">
                        <div class="register-input-case">
                            {{ form_row(registrationForm.email, {'attr': {'class': 'register-input'}}) }}
                        </div>
                    </div>
                    <div class="register-input-1">
                        <div class="register-input-case">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'register-input'}}) }}
                        </div>
                    </div>
                    <div class="register-input-1">
                        <div class="register-input-case">
                            {{ form_label(registrationForm.agreeTerms) }}
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'register-input'}}) }}
                        </div>
                    </div>
                    <button type="submit" class="register-submit">Créer votre compte</button>
                {{ form_end(registrationForm) }}
                <div class="register-barre"></div>
                <div class="register-form-footer">
                    <p>Vous avez déjà un compte ?</p>
                    <div></div>
                    <div class="register-form-footer-logo">
                        <p>Connexion</p>
                        <img src="../img/register-submit.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/theme.js') }}"></script>
</body>

</html>
