{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

    {{ form_start(form) }}
        {{ form_row(form.UserName) }}
        {{ form_row(form.UserFirstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.UserPhone) }}
        {{ form_row(form.UserBirthday) }}
        {{ form_row(form.UserIsAdmin) }}
        <button class="btn btn-primary">{{ button_label|default('Mettre à jour le profil') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_users_crud_show', {id: app.user.id}) }}">Retour</a>
{% endblock %}
