{% extends 'base.html.twig' %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>billetterie</title>
    <link rel="stylesheet" href="{{ asset('css/theme.css') }}">
</head>

<body style="background-color: white;" >
        {% for ticket in tickets %}
    <div class="page-billetterie">
    
        <div class="billetterie-titre">
            <img src="../img/billetterie-ticket.png" alt="">
            <p>Billetterie</p>
        </div>
        <div class="billetterie-tarifs">
            <div class="billetterie-tarifs-case1">
                <div class="billetterie-case1">
                    <p class="billetterie-titre-billet">{{ ticket.firstLabel }}</p>
                    <p class="billetterie-tarifs-type">{{ticket.categorie}}</p>
                    <p>{{ticket.age}}</p>
                    <span class="billetterie-tarifs-prix1">{{ticket.prix}}</span><span class="billetterie-tarifs-prix2">€</span>
                    <br>
                    <a href="{{ path('app_reservation') }}">
<button class="billetterie-tarifs-acheter">Acheter</button></a>
                    <p class="billet-titre-bas">{{ticket.last}}</p>
                </div>
            </div>
        </div>
{% endfor %}

        {# ICI C'EST LES EVENEMENT ( PREMIÈRE LIGNE ) #}
        <div style="text-align: center;">
        <H1>Evennements</H1>
        </div>
        <div class="billetterie-reservation">
            <div class="billetterie-reservation-case">
                {% for event in events %}
                <div style="padding-left: 5%; padding-right: 5%; text-align: center; margin-bottom: 2%">
                <img src="{{ asset('uploads/images/' ~ event.image) }}" alt="Event Image" style="width: auto; height: 200px;">
                <h2>{{event.eventName}}</h2>
                <div style="padding-left: 20%; padding-right: 20%">
                <div style="border-color: red #D5DD3C; border-width: 2px; border-left-style: solid; padding-left: 2%; text-align: left">
                <p>{{ event.description }}</p>
                </div>
                </div>
                <button class="billetterie-tarifs-acheter">
                <a href="{{ path('app_reservation') }}" style="text-decoration: none; color: white">Réserver</a>
                </button>
                </div>
                {% endfor %}

            </div>
        </div>

        <div style="text-align: center;">
        <H1>Lieux</H1>
        </div>
        
        <div class="billetterie-reservation">
            <div class="billetterie-reservation-case">
            {% for location in locations %}
            <div style="padding-left: 5%; padding-right: 5%; text-align: center;">
            <img src="{{ asset('uploads/images/' ~ location.image) }}" alt="Event Image" style="width: auto; height: 200px;">
            <h2>{{location.locationName}}</h2>
            <div style="padding-left: 20%; padding-right: 20%">
            <div style="border-color: red #D5DD3C; border-width: 2px; border-left-style: solid; padding-left: 2%; text-align: left">
            <p>{{ location.description }}</p>
            </div>
            </div>
    <button class="billetterie-tarifs-acheter">
        <a href="{{ path('app_reservation') }}" style="text-decoration: none; color: white">Réserver</a>
    </button>
</div>
{% endfor %}

            </div>
        </div>        
        
        <div style="text-align: center;">
        <H1>Equipements</H1>
        </div>

        <div class="billetterie-reservation">
            <div class="billetterie-reservation-case">
                {% for equipement in equipements %}
                <div style="padding-left: 5%; padding-right: 5%; text-align: center;">
                <img src="{{ asset('uploads/images/' ~ equipement.images) }}" alt="Event Image" style="width: auto; height: 200px;">
                <h2>{{equipement.equipementName}}</h2>
                <div style="padding-left: 20%; padding-right: 20%">
                <div style="border-color: red #D5DD3C; border-width: 2px; border-left-style: solid; padding-left: 2%; text-align: center; text-align: left">
                <p>{{ equipement.description }}</p>
                </div>
                </div>
                <button class="billetterie-tarifs-acheter">
                <a href="{{ path('app_reservation') }}" style="text-decoration: none; color: white">Réserver</a>
            </button>
            </div>
            {% endfor %}

        </div>
        </div>



    <script src="{{ asset('js/theme.js') }}"></script>


    </body>
{% endblock %}